.bg_color_1 {
    background-color: rgb(15, 45, 245) !important;
}

.bg_color_2 {
    background-color: rgb(120, 229, 184) !important;
}

.bg_color_3 {
    background-color: rgb(235, 79, 39) !important;
}

.bg_color_4 {
    background-color: rgb(102, 201, 250) !important;
}