.interval {
    display: inline-block;
    margin: 0;
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #eaeaea;
    color: #b9316f;
    font-weight: 600;
}

.upper {
    text-transform: uppercase;
}